*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --grey:#1c1c1c;

}
body{
    font-family: 'Montserrat', sans-serif;
}

/*######### HERO SECTION ############*/
.hero-container{
    height:100vh;
    background: var(--grey);
    color:white;
    position: relative;
    overflow: hidden;
}
.hero-vid{
    position:absolute;
    bottom:0;
    left:0;
    min-height:100%;
    min-width: 100%;
    z-index: 1;
}
.top-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
    padding:0 2em;
    position: relative;
    z-index: 5;
}
.top-logo a{
    color:white;
    font-size: 1.3rem;
    padding:1em 2em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
nav{
    min-width:40%;
   }
.main-nav>ul{
    display:flex;
    justify-content: space-between;
    width:100%;
}
.main-nav>ul li{
    list-style: none;
}
.main-nav li a{
    display: inline-block;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    padding:1em 2em;
}
.cta-div{
    position:absolute;
    z-index: 5;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width:80%;
}
.cta-div .line-one{
    font-size: 1.1rem;
}
.cta-div .line-two{
    font-size: 5.5rem;
    letter-spacing: 3px;
    padding-bottom:1.5rem;
}

.cta-div h3{
    font-weight: 400;
    font-size: 1.2rem;
}
.cta-btn{
    margin:1.5em;
    padding:.7em 2em;
    font-size: 1.5rem;
    background: rgba(0,0,0,0.3);
    color:white;
    border:2px solid white;
    cursor: pointer;
}
.menu-btn{
    display: none; /* HIDE ON DESKTOP */
    width:30px;
    height:30px;
    background: none;
    border:none;
}
.menu-bar{
    width:100%;
    height:2px;
    background:white;
    margin:6px 0;
}

/* FEATURED SECTION */
.owl-carousel .item{
    width:100vw;
    height:100vh;
    border:1px solid;
    position: relative;
    color:white;
}
.owl-carousel .item .left{
    position:absolute;
    bottom:2rem;
    left:3rem;
    background:rgba(0,0,0,0.3);
    padding:1rem;
    border-radius: 5px;
}
.owl-carousel .left h4,h3,h2{
    font-weight: 400;
    letter-spacing: 2px;
    padding:.5em 0;
}
.owl-carousel .left h2{
    font-size: 2rem;
}
.owl-carousel .item a{
    color:white;
    text-decoration: none;
    position: absolute;
    bottom:5rem;
    right:3rem;
    border:2px solid white;
    padding:1em 2em;
    background:rgba(0,0,0,0.3);
}
#featured-one{
    background: url(/images/featured\ properties/a1.jpg);  
}
#featured-two{
    background: url(/images/featured\ properties/b1.jpg);  
}
#featured-three{
    background: url(/images/featured\ properties/c1.jpg);  
}
#featured-one, #featured-two, #featured-three{
    background-size: cover;
    background-position: center;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next{
    background:rgba(0,0,0,0.3) !important;
    font-size:3rem !important;
    position:absolute;
    top:50%;
    color:white !important;
}
.owl-carousel .owl-nav .owl-prev{
    left:1rem;
}
.owl-carousel .owl-nav .owl-next{
    right:1rem;
}
/* AGENT SECTION */
.agent-section{
    display:flex;

}
.agent-col-1, .agent-col-2{
    flex-basis: 50%;
}
.agent-col-1{
  display:flex;
  flex-direction: column; 
  justify-content: center;
  padding:8rem;
  line-height: 1.6;
}
.agent-col-1 h2{
    font-size: 1.8rem;
    padding-bottom:1.5em;
}
.agent-col-1 a{
    color:black;
    text-decoration: none;
    border:2px solid;
    width:200px;
    text-align: center;
    margin-top:2em;
    padding:.5em 1em;
}
.agent-col-2 img{
    max-width:100%;
    max-height: 100vh;
}