*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --grey:#1c1c1c;

}
body{
    font-family: 'Montserrat', sans-serif;
}

/*######### HERO SECTION ############*/
.hero-container{
    height:100vh;
    background: var(--grey);
    color:white;
    position: relative;
    overflow: hidden;
}
.hero-vid{
    position:absolute;
    bottom:0;
    left:0;
    min-height:100%;
    min-width: 100%;
    z-index: 1;
}
.top-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    padding:0 2em;
    position: relative;
    z-index: 15;
    animation:fade-down 900ms ease-in-out;
}
@keyframes fade-down{
    from{transform: translateY(-30px);
    opacity:.1}
    to{transform: translateY(0px);
        opacity:1}
}
.top-logo a{
    color:white;
    font-size: 1.3rem;
    padding:1em 2em;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}
nav{
    min-width:40%;
   }
.main-nav>ul{
    display:flex;
    justify-content: space-between;
    width:100%;
}
.main-nav>ul li{
    list-style: none;
}
.main-nav li a{
    display: inline-block;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    padding:1em 2em;
}
.cta-div{
    position:absolute;
    z-index: 5;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width:80%;
}
.cta-div .line-one{
    font-size: 1.1rem;
}
.cta-div .line-two{
    font-size: 5.5rem;
    letter-spacing: 3px;
    padding-bottom:1.5rem;
}

.cta-div h3{
    font-weight: 400;
    font-size: 1.2rem;
}
.cta-btn{
    margin:1.5em;
    padding:.7em 2em;
    font-size: 1.5rem;
    background: rgba(0,0,0,0.3);
    color:white;
    border:2px solid white;
    cursor: pointer;
}
.menu-btn{
    display: none; /* HIDE ON DESKTOP */
    width:30px;
    height:30px;
    background: none;
    border:none;
}
.menu-bar{
    width:100%;
    height:2px;
    background:white;
    margin:6px 0;
}

/* FEATURED SECTION */
.owl-carousel .item{
    width:100vw;
    height:100vh;
    border:1px solid;
    position: relative;
    color:white;
}
.owl-carousel .item .left{
    position:absolute;
    bottom:2rem;
    left:3rem;
    background:rgba(0,0,0,0.3);
    padding:1rem;
    border-radius: 5px;
}
.owl-carousel .left h4,h3,h2{
    font-weight: 400;
    letter-spacing: 2px;
    padding:.5em 0;
}
.owl-carousel .left h2{
    font-size: 2rem;
}
.owl-carousel .item a{
    color:white;
    text-decoration: none;
    position: absolute;
    bottom:5rem;
    right:3rem;
    border:2px solid white;
    padding:1em 2em;
    background:rgba(0,0,0,0.3);
}
#featured-one{
    background: url(/images/featured\ properties/a1.jpg);  
}
#featured-two{
    background: url(/images/featured\ properties/b1.jpg);  
}
#featured-three{
    background: url(/images/featured\ properties/c1.jpg);  
}
#featured-one, #featured-two, #featured-three{
    background-size: cover;
    background-position: center;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next{
    background:rgba(0,0,0,0.3) !important;
    font-size:3rem !important;
    position:absolute;
    top:50%;
    color:white !important;
}
.owl-carousel .owl-nav .owl-prev{
    left:1rem;
}
.owl-carousel .owl-nav .owl-next{
    right:1rem;
}
/* AGENT SECTION */
.agent-section{
    display:flex;
    color:var(--grey);
}
.agent-col-1, .agent-col-2{
    flex-basis: 50%;
}
.agent-col-1{
  display:flex;
  flex-direction: column; 
  justify-content: center;
  padding:8rem;
  line-height: 1.6;
}
.agent-col-1 h2{
    font-size: 1.8rem;
    padding-bottom:1.5em;
}
.agent-col-1 a{
    color:var(--grey);
    text-decoration: none;
    border:2px solid;
    width:200px;
    text-align: center;
    margin-top:2em;
    padding:.5em 1em;
}
.agent-col-2{
    text-align: center;
}
.agent-col-2 img{
    max-width:90%;
    max-height: 100vh;
}
/* PRESS SECTION */
.press-section{
    text-align: center;
    margin: 5rem 0;
    color:var(--grey);
}
.press-section .wrapper{
    display:flex;
    justify-content: space-around;
}
.press-section .wrapper div{
    flex-basis: 30%;
    padding:2rem;
    line-height: 1.8;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* CONTACT SECTION */
.contact-section{
    background: url(/images/building.jpg);
    background-position: center;
    background-size: cover;
    color:white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:100vh;
    padding:3rem;
}
.contact-section div{
    flex-basis: 30%;
    min-height: 500px;
    background:rgba(0,0,0,0.6);
    padding:4rem;
    text-align: center;
    border-radius: 10px;

}
.contact-section h3{
    font-size: 1.6rem;
    letter-spacing: 3px;
    margin-bottom: 1rem;
}
.contact-section p{
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}
.contact-section a{
    display:inline-block;
    color:white;
    text-decoration: none;
    border:2px solid white;
    padding:.5rem 2rem;
    margin-top:1rem;
    font-size: .8rem;
}
.contact-section input[type="email"]{
    width:100%;
    padding:.8rem 1rem;
    margin-top: 1rem;
}
.contact-section button{
    padding:.5rem 2rem;
    margin-top:2rem;
    background: none;
    color:white;
    font-size: .8rem;
    border:2px solid white;
}
/* FOOTER */
footer{
    background: var(--grey);
    color:white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:4rem 2rem;
}
footer div{
    flex-basis: 25%;
    text-align: center;
}
footer h2{
    font-size: 1rem;
    opacity:.8;
    margin-bottom: 1rem;
}
footer p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    opacity: .6;
    padding:5px;
}
footer i{
    color:white;
    font-size: 2rem;
    padding:1rem;
    transition:all 300ms;
}
footer i:hover{
    color:rgb(68, 68, 198);
    transform: scale(1.2);
}
footer .fa-phone{
    font-size: 1rem;
}

/*=============== ABOUT PAGE ================*/
.about-page .first-section{
    height:500px;
    background: url(/images/brick.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
}
.about-page .first-section .title-div{
    color:white;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.about-page  .title-div h1{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 5px;
    padding:2rem;
}
.about-page .second-section{
    max-width:1000px;
    margin:auto;
    padding:2rem;
}
.about-page .second-section h2{
    text-align: center;
    padding:5rem;
}
.about-page .second-section img{
    float:left;
    width:400px;
    margin-right:5rem;
    margin-bottom: 3rem;

}
.about-page .second-section p{
    line-height: 1.8;
    margin-bottom: 1rem;
}
/* CONTACT MODAL */
.contact-modal{
    position:fixed;
    top:-100vh;
    left:0;
    width:100vw;
    height:100vh;
    background:rgba(0,0,0,0.85);
    color:white;
    z-index: 20;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition:transform 500ms ease-in-out;
}
#contact-close-btn{
    position:absolute;
    top:3rem;
    right:3rem;
    color:white;
    background: none;
    border:none;
    font-size: 3rem;
    font-weight: 200;
    padding:1rem;
    cursor: pointer;

}
.contact-modal h1{
    font-size: 5rem;
    font-weight: 200;
    padding: 2rem;
    margin-bottom: 2rem;
}
.contact-modal .wrapper{
    display:flex;
    max-width: 1200px;
    width:80vw;
    margin:2rem auto;
}
.contact-modal .contact-col-1,
.contact-modal .contact-col-2{
    flex-basis: 50%;
    padding:2rem;
}
.contact-modal .contact-col-1{
    display: flex;
    flex-direction: column;

}
.contact-modal .contact-col-1 input,
.contact-modal .contact-col-1 select{
    padding:1rem;
    margin:5px;
    height:3rem;
}
.contact-modal .contact-col-1 textarea{
    padding:1rem;
    margin:5px;
}

.contact-modal .contact-col-1 button{
    width:150px;
    background: none;
    color:white;
    padding:1rem;
    margin:2rem auto;
    border:2px solid white;
}
.contact-modal .contact-col-2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contact-modal .contact-details p{
    padding:.8rem;
    letter-spacing: 2px;
}
.contact-modal .contact-col-2 i{
    color:white;
    font-size: 2rem;
    padding:1rem;
    transition:transform 300ms;
}
.contact-modal .contact-col-2 i:hover{
    color:rgb(68, 68, 198);
    transform: scale(1.2);
}
